---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: functionaccessrules.fission.io
spec:
  group: fission.io
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - targetFunction
              properties:
                targetFunction:
                  type: string
                  description: "Name or pattern of the function this rule applies to (* for all)"

                from:
                  type: array
                  description: "List of allowed sources (NetworkPolicy-style peer)"
                  items:
                    type: object
                    properties:
                      ipBlock:
                        type: object
                        properties:
                          cidr:
                            type: string
                          except:
                            type: array
                            items:
                              type: string
                      namespaceSelector:
                        type: object
                        properties:
                          matchLabels:
                            type: object
                            additionalProperties:
                              type: string
                          matchExpressions:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                operator:
                                  type: string
                                values:
                                  type: array
                                  items:
                                    type: string
                      podSelector:
                        type: object
                        properties:
                          matchLabels:
                            type: object
                            additionalProperties:
                              type: string
                          matchExpressions:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                operator:
                                  type: string
                                values:
                                  type: array
                                  items:
                                    type: string

  scope: Namespaced
  names:
    plural: functionaccessrules
    singular: functionaccessrule
    kind: FunctionAccessRule
    shortNames:
      - far
      - funcaccess
